.btn-green{
	background-color: #16B3B1;
	color: #fff;
}
.res-input{
	position: absolute;
    right: 30px;
    margin-top: 10px;
    font-size: 18px;
/*    display: block !important;*/
}
.default-shadow{
	box-shadow: 1px 1px 1px #ddd;
}
.padding-5{
	padding: 5px !important;
}
.tb-pd-2 td{
	    padding: 2px;
}
.tb-pd-3 td{
	    padding: 3px;
}
.tb-pd-4 td{
	    padding: 4px;
}
.tb-pd-5 td{
	    padding: 5px;
}
 .btnstatus{
     box-shadow: 1px 1px 5px #999999;
     border:0px solid #FFFFFF;
     border-radius: 5px;
    padding:5px;
     height:40px;
     font-size:14px;
     width:100px;
     margin-right:15px;
     background-color:#367FA9;
    font-family:Arial, Helvetica, sans-serif ;
     color:#FFFFFF;
}
 .btnstatus:hover{
     background-color:#999999;
    font-family:Arial, Helvetica, sans-serif ;
     color:#FFFFFF;
     border:0px solid #FFFFFF;
}
 .btnstatus-active{
     box-shadow: 1px 1px 5px #999999;
     border:0px solid #FFFFFF;
     border-radius: 5px;
    padding:5px;
     height:40px;
     font-size:14px;
     width:100px;
     margin-right:15px;
     background-color:#367FA9;
    font-family:Arial, Helvetica, sans-serif ;
     color:#FFFFFF;
}

/** font size class **/
.font-18{
         font-size : 12px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-20{
         font-size : 14px !important;
         font-family: 'Arial', sans-serif;
    }
    .font-21{
         font-size : 15px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-22{
         font-size : 16px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-24{
         font-size : 18px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-26{
         font-size : 20px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-28{
         font-size : 22px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-30{
         font-size : 24px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-32{
         font-size : 26px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-34{
         font-size : 28px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-36{
         font-size : 30px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-38{
         font-size : 32px !important;
         font-family: 'Arial', sans-serif;
    }
 @media screen and (max-width: 320px) {
     .font-18{
         font-size : 10px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-20{
         font-size : 12px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-21{
         font-size : 13px !important;
         font-family: 'Arial', sans-serif;
    }
    .font-22{
         font-size : 14px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-24{
         font-size : 16px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-26{
         font-size : 18px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-28{
         font-size : 20px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-30{
         font-size : 22px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-32{
         font-size : 24px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-34{
         font-size : 26px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-36{
         font-size : 28px !important;
         font-family: 'Arial', sans-serif;
    }
     .font-38{
         font-size : 30px !important;
         font-family: 'Arial', sans-serif;
    }
     .text-resize{
        /*color : #fff;
        */
         color : #333333;
    }
}
	
/******************************************************************************************************************/
 .css-full-popup {
     position: fixed;
     left: 0px;
     top: 0px;
     bottom:0;
     width: 100%;
     height: 100%;
     z-index: 9999;
     overflow-y:hidden ;
     padding:0px;
     background-color:#FFFFFF;
}

 .btn-cus{
     padding: 8px 16px !important;
     font-size: 18px !important;
     line-height: 1.3333333 !important;
     border-radius: 6px !important;
     min-width: 100px;
     border: 1px solid #ddd !important;
}

/* ----- v CAN BE DELETED v ----- */
 .demo {
     padding-top: 60px;
     padding-bottom: 110px;
}
 .btn-demo {
     margin: 15px;
     padding: 10px 15px;
     border-radius: 0;
     font-size: 16px;
     background-color: #FFFFFF;
}
 .btn-demo:focus {
     outline: none;
}
 .demo-footer {
     position: fixed;
     bottom: 0;
     width: 100%;
     padding: 15px;
     background-color: #212121;
     text-align: center;
}
 .demo-footer > a {
     text-decoration: none;
     font-weight: bold;
     font-size: 16px;
     color: #fff;
}
 #load_modal_body{
     overflow : scroll;
     max-height: 500px;
}
 @media screen and (max-height: 568px) {
     #load_modal_body{
         overflow : scroll;
         max-height: 400px;
    }
}
 #floatingCirclesG{
     position:relative;
     top:40%;
     width:125px;
     height:125px;
     margin:auto;
     transform:scale(0.8);
     -o-transform:scale(0.8);
     -ms-transform:scale(0.8);
     -webkit-transform:scale(0.8);
     -moz-transform:scale(0.8);
}
 .f_circleG{
     position:absolute;
     background-color:rgb(255,255,255);
     height:22px;
     width:22px;
     border-radius:12px;
     -o-border-radius:12px;
     -ms-border-radius:12px;
     -webkit-border-radius:12px;
     -moz-border-radius:12px;
     animation-name:f_fadeG;
     -o-animation-name:f_fadeG;
     -ms-animation-name:f_fadeG;
     -webkit-animation-name:f_fadeG;
     -moz-animation-name:f_fadeG;
     animation-duration:1.2s;
     -o-animation-duration:1.2s;
     -ms-animation-duration:1.2s;
     -webkit-animation-duration:1.2s;
     -moz-animation-duration:1.2s;
     animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
     -ms-animation-iteration-count:infinite;
     -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
     animation-direction:normal;
     -o-animation-direction:normal;
     -ms-animation-direction:normal;
     -webkit-animation-direction:normal;
     -moz-animation-direction:normal;
}
 #frotateG_01{
     left:0;
     top:51px;
     animation-delay:0.45s;
     -o-animation-delay:0.45s;
     -ms-animation-delay:0.45s;
     -webkit-animation-delay:0.45s;
     -moz-animation-delay:0.45s;
}
 #frotateG_02{
     left:15px;
     top:15px;
     animation-delay:0.6s;
     -o-animation-delay:0.6s;
     -ms-animation-delay:0.6s;
     -webkit-animation-delay:0.6s;
     -moz-animation-delay:0.6s;
}
 #frotateG_03{
     left:51px;
     top:0;
     animation-delay:0.75s;
     -o-animation-delay:0.75s;
     -ms-animation-delay:0.75s;
     -webkit-animation-delay:0.75s;
     -moz-animation-delay:0.75s;
}
 #frotateG_04{
     right:15px;
     top:15px;
     animation-delay:0.9s;
     -o-animation-delay:0.9s;
     -ms-animation-delay:0.9s;
     -webkit-animation-delay:0.9s;
     -moz-animation-delay:0.9s;
}
 #frotateG_05{
     right:0;
     top:51px;
     animation-delay:1.05s;
     -o-animation-delay:1.05s;
     -ms-animation-delay:1.05s;
     -webkit-animation-delay:1.05s;
     -moz-animation-delay:1.05s;
}
 #frotateG_06{
     right:15px;
     bottom:15px;
     animation-delay:1.2s;
     -o-animation-delay:1.2s;
     -ms-animation-delay:1.2s;
     -webkit-animation-delay:1.2s;
     -moz-animation-delay:1.2s;
}
 #frotateG_07{
     left:51px;
     bottom:0;
     animation-delay:1.35s;
     -o-animation-delay:1.35s;
     -ms-animation-delay:1.35s;
     -webkit-animation-delay:1.35s;
     -moz-animation-delay:1.35s;
}
 #frotateG_08{
     left:15px;
     bottom:15px;
     animation-delay:1.5s;
     -o-animation-delay:1.5s;
     -ms-animation-delay:1.5s;
     -webkit-animation-delay:1.5s;
     -moz-animation-delay:1.5s;
}
 @keyframes f_fadeG{
     0%{
         background-color: #FF9900;
    }
     100%{
         background-color:rgb(255,255,255);
    }
}
 @-o-keyframes f_fadeG{
     0%{
         background-color:rgb(47,148,173);
    }
     100%{
         background-color:rgb(255,255,255);
    }
}
 @-ms-keyframes f_fadeG{
     0%{
         background-color:rgb(47,148,173);
    }
     100%{
         background-color:rgb(255,255,255);
    }
}
 @-webkit-keyframes f_fadeG{
     0%{
         background-color:rgb(47,148,173);
    }
     100%{
         background-color:rgb(255,255,255);
    }
}
 @-moz-keyframes f_fadeG{
     0%{
         background-color:rgb(47,148,173);
    }
     100%{
         background-color:rgb(255,255,255);
    }
}
 #firstDropdown .dropdown-backdrop {
     display:none;
}

#loader {
   bottom: 0;
   height: 175px;
   left: 0;
   margin: auto;
   position: absolute;
   right: 0;
   top: 0;
   width: 175px;
   }
   #loader {
   bottom: 0;
   height: 175px;
   left: 0;
   margin: auto;
   position: absolute;
   right: 0;
   top: 0;
   width: 175px;
   }
   #loader .dot {
   bottom: 0;
   height: 100%;
   left: 0;
   margin: auto;
   position: absolute;
   right: 0;
   top: 0;
   width: 87.5px;
   }
   #loader .dot::before {
   border-radius: 100%;
   content: "";
   height: 87.5px;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
   transform: scale(0);
   width: 87.5px;
   }
   #loader .dot:nth-child(7n+1) {
   transform: rotate(45deg);
   }
   #loader .dot:nth-child(7n+1)::before {
   animation: 0.8s linear 0.1s normal none infinite running load;
   background: #00ff80 none repeat scroll 0 0;
   }
   #loader .dot:nth-child(7n+2) {
   transform: rotate(90deg);
   }
   #loader .dot:nth-child(7n+2)::before {
   animation: 0.8s linear 0.2s normal none infinite running load;
   background: #00ffea none repeat scroll 0 0;
   }
   #loader .dot:nth-child(7n+3) {
   transform: rotate(135deg);
   }
   #loader .dot:nth-child(7n+3)::before {
   animation: 0.8s linear 0.3s normal none infinite running load;
   background: #00aaff none repeat scroll 0 0;
   }
   #loader .dot:nth-child(7n+4) {
   transform: rotate(180deg);
   }
   #loader .dot:nth-child(7n+4)::before {
   animation: 0.8s linear 0.4s normal none infinite running load;
   background: #0040ff none repeat scroll 0 0;
   }
   #loader .dot:nth-child(7n+5) {
   transform: rotate(225deg);
   }
   #loader .dot:nth-child(7n+5)::before {
   animation: 0.8s linear 0.5s normal none infinite running load;
   background: #2a00ff none repeat scroll 0 0;
   }
   #loader .dot:nth-child(7n+6) {
   transform: rotate(270deg);
   }
   #loader .dot:nth-child(7n+6)::before {
   animation: 0.8s linear 0.6s normal none infinite running load;
   background: #9500ff none repeat scroll 0 0;
   }
   #loader .dot:nth-child(7n+7) {
   transform: rotate(315deg);
   }
   #loader .dot:nth-child(7n+7)::before {
   animation: 0.8s linear 0.7s normal none infinite running load;
   background: magenta none repeat scroll 0 0;
   }
   #loader .dot:nth-child(7n+8) {
   transform: rotate(360deg);
   }
   #loader .dot:nth-child(7n+8)::before {
   animation: 0.8s linear 0.8s normal none infinite running load;
   background: #ff0095 none repeat scroll 0 0;
   }
   #loader .lading {
   background-image: url("../images/loading.gif");
   background-position: 50% 50%;
   background-repeat: no-repeat;
   bottom: -40px;
   height: 20px;
   left: 0;
   position: absolute;
   right: 0;
   width: 180px;
   }
   .icon_menu{
   	margin-top: 14px !important;
   	height: 0px !important;
   	margin: -;
   	margin-right: 15px !important;
   }
   .btn-danger{
   	 background-color: #E57373 !important;
   	 color: #fff;
   }
   .form-group {
	  margin-bottom: 15px;
	}
	label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.picker__day {

    text-align: center !important;
}


